<template name="contactsSlide">
  <div class="botanika-page image-slider image-slider--{{action}}" {{getPageAttrs pageData}}>

    <ul class="botanika-contacts-holder">
      <li class="botanika-contact-item">
        <span class="botanika-contact-item--image botanika-contact-item--image__phone"></span>
        <p class="botanika-contact-item--text">
           999. 123.45.67
        </p>
      </li>

      <li class="botanika-contact-item">
        <span class="botanika-contact-item--image botanika-contact-item--image__adress"></span>
        <p class="botanika-contact-item--text">
           Санкт-Петербург, Весенняя тропа, 1, офис 123
        </p>
      </li>

      <li class="botanika-contact-item">
        <span class="botanika-contact-item--image botanika-contact-item--image__mail"></span>
        <p class="botanika-contact-item--text">
           botanik@botanika-land.com
        </p>
      </li>
    </ul>

  </div>
</template>
