<template name="houseSlidesItem">
  <div class="swiper-slide botanika-house-slides-slider-wrapper image-slider" {{cunstructSlideAttrs data type}}>
    <div class="botanika-house-slide-item">
      {{#if isEqual type 'index'}}
        {{#let imgObj=(getDoc data.mainImage 'Attachments')}}
          <img src="{{imgObj.url}}">
        {{/let}}
        <p class="botanika-news-item--text">{{{ data.label }}}</p>
      {{else}}
        {{#if isEqual type 'plan'}}
          {{#let imgObj=(getDoc data.planImage 'Attachments')}}
            <img src="{{imgObj.url}}">
          {{/let}}
        {{else}}
          {{#let imgObj=(getDoc data.image 'Attachments')}}
            <img src="{{imgObj.url}}">
          {{/let}}
          <p class="botanika-news-item--text">{{{ data.description }}}</p>
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>