<template name="houseSlidesItem">
  <div class="swiper-slide botanika-house-slides-slider-wrapper">
    <div class="botanika-house-slide-item botanika-page image-slider" {{cunstructSlideAttrs data type}}>
      {{#if isEqual type 'index'}}
        <p class="botanika-house-item--text" data-swiper-parallax="-250">{{{ data.label }}}</p>
      {{else}}
        {{#if isEqual type 'plan'}}
          {{!-- nothing here for now --}}
        {{else}}
          <p class="botanika-house-item--text" data-swiper-parallax="-250">{{{ data.description }}}</p>
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>