<template name="indexSlide">
  <div class="botanika-page image-slider image-slider--{{action}}" {{getPageAttrs pageData}}>
    <div class="index-content">
      <div class="index-text--catchy">
        НОВАЯ ФОРМА ЖИЗНИ
        <br/>
        ПЕЙЗАЖНЫЙ КОТТЕДЖНЫЙ ПОСЕЛОК
        <br/>
        КЛУБНОГО ТИПА
      </div>

      <img src="/img/logo.svg" class="index-text--logo" alt="ботаника">

      <div class="index-next-button__before"></div>
      <a href="{{pathFor route='houses'}}" data-slide-name="gerbariy" class="index-next-button">
        гербарий
      </a>
      <div class="index-next-button__after"></div>

    </div>
  </div>
</template>
