<template name="indexSlide">
  <div class="botanika-page image-slider image-slider--{{action}}" {{getPageAttrs pageData}}>
    <div class="index-content">
      <div class="index-text--catchy" data-swiper-parallax="-300">
        НОВАЯ ФОРМА ЖИЗНИ
        <br/>
        ПЕЙЗАЖНЫЙ КОТТЕДЖНЫЙ ПОСЕЛОК
        <br/>
        КЛУБНОГО ТИПА
      </div>

      <img src="/img/logo.svg" class="index-text--logo" alt="ботаника"  data-swiper-parallax="-200" >

      <div class="index-next-button__before" data-swiper-parallax="-100"></div>
      <a href="#" class="index-next-button" data-swiper-parallax="-100">
        гербарий
      </a>
      <div class="index-next-button__after" data-swiper-parallax="-100"></div>

    </div>
  </div>
</template>
