<template name="indexSlide">
  <div class="swiper-slide image-slider swiper-lazy" data-background="/img/main_bg.jpg">
    <div class="index-content">
      <div class="index-text--catchy">
        НОВАЯ ФОРМА ЖИЗНИ
        <br/>
        ПЕЙЗАЖНЫЙ КОТТЕДЖНЫЙ ПОСЕЛОК
        <br/>
        КЛУБНОГО ТИПА
      </div>

      <img src="/img/logo.png" class="index-text--logo" alt="ботаника">

      <a href="#" data-slide-name="gerbariy" class="index-next-button">
        гербарий
      </a>

    </div>
  </div>
</template>
