<template name="newsItem">
  <div class="swiper-slide botanika-news-slider-wrapper">
    <div class="botanika-news-item">
      <span class="botanika-news-item--date">{{prettifyDate createdAt}}</span>
      <h2 class="botanika-news-item--title">{{ title }}</h2>

      {{#let picUrl=(getThumb picture 'NewsPictures' 'thumbs')}}
        {{#if picUrl}}
          <img src="{{picUrl}}" lass="botanika-news-item--image">
        {{/if}}
      {{/let}}

      <p class="botanika-news-item--text">{{{ short }}}</p>
    </div>
  </div>
</template>
