map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

upstream meteor_upstream {
    server 127.0.0.1:3001;
}

server {
    listen 5.101.116.193:80;
    server_name botanika-land.com www.botanika-land.com  ;

    access_log /var/log/nginx/app.dev.access.log;
    error_log  /var/log/nginx/app.dev.error.log;

    location ~* ^/(webmail/|phpmyadmin/|pgadmin/) {
        proxy_pass http://127.0.0.1:8080;
        proxy_redirect http://127.0.0.1:8080/ /;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location = /favicon.ico {
      root /opt/botanika/app/programs/web.browser/app;
      access_log off;
      expires 1w;
    }

    location ~* "^/[a-z0-9]{40}\.(css|js)$" {
      root /opt/botanika/app/programs/web.browser;
      access_log off;
      expires max;
    }

    location ~ ^/(images/|img/|robots.txt|humans.txt) {
      root /opt/botanika/app/programs/web.browser/app;
      access_log off;
      expires max;
    }

    location ~ "^/packages" {
      root /opt/botanika/app/programs/web.browser;
      access_log off;
    }

    location / {
      proxy_redirect off;
      proxy_set_header   X-Real-IP         $remote_addr;
      proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
      proxy_set_header   X-Forwarded-Proto $scheme;
      proxy_set_header   Host              $http_host;
      proxy_set_header   X-NginX-Proxy     true;
      proxy_set_header   Upgrade           $http_upgrade;
      proxy_set_header   Connection        $connection_upgrade;
      proxy_http_version 1.1;
      proxy_cache one;
      proxy_cache_key    sfs$request_uri$scheme;
      proxy_pass         http://meteor_upstream;
    }

  #  location / {
  #    proxy_pass http://meteor_upstream;
  #    proxy_http_version 1.1;
  #    proxy_set_header Host $host;
  #    proxy_set_header Upgrade $http_upgrade;
  #    proxy_set_header Connection $connection_upgrade;
  #    proxy_set_header X-Forwarded-For $remote_addr;
  #    proxy_set_header X-Real-IP $remote_addr;
  #  }
}
