<template name="botanikaBody">
  <div class="botanika-body">
    <button class="btn-hamburger js-slideout-toggle">
      <span>menu</span>
    </button>

    <nav id="menu" class="menu slideout-menu">
      {{> mainMenu}}
    </nav>

    {{#if (notIndexAction action) }}
      {{> botanikaLogo }}
    {{/if}}

    <main id="main" class="main-panel slideout-panel">
      <div class="botanika-page image-slider image-slider--{{action}}" {{getPageAttrs pageData}}>
        {{#transitioner transitionIn=transitionIn transitionOut=transitionOut}}
          {{> yield}}
        {{/transitioner}}
      </div>
    </main>

  </div>
</template>
