<template name="botanikaBody">
  <div class="botanika-body {{action}}">
    <button class="btn-hamburger js-slideout-toggle">
      <span>menu</span>
    </button>

    <nav id="menu" class="menu slideout-menu">
      {{> mainMenu}}
    </nav>

    {{#if (notIndexAction action) }}
      {{> botanikaLogo }}
    {{/if}}

    <main id="main" class="main-panel slideout-panel swiper-container swiper-container-v">
      <div class="swiper-wrapper">

          {{> yield}}

      </div>
    </main>

  </div>
</template>
