<template name="allCombined">
  <div class="swiper-slide" data-hash="index">{{> indexSlide}}</div>
  <div class="swiper-slide" data-hash="houses">{{> housesSlide}}</div>
  <div class="swiper-slide" data-hash="infrastructure">{{> botanikaPage slug='infrastructure'}}</div>
  <div class="swiper-slide" data-hash="evolution">{{> evolutionSlide}}</div>
  <div class="swiper-slide" data-hash="lab">{{> botanikaPage slug='lab'}}</div>
  <div class="swiper-slide" data-hash="contacts">{{> contactsSlide}}</div>
</template>
