<template name="mainMenu">
  <section class="menu-section">
    <h3 class="menu-section-title">Содержание</h3>
    <ul class="menu-section-list">
      <li><a href="/prototype">Index</a></li>
      <li><a href="/prototype">Гербарий</a></li>
      <li><a href="/prototype">Флора</a></li>
      <li><a href="/prototype">Экосистема</a></li>
      <li><a href="/prototype">Эволюция</a></li>
      <li><a href="/prototype">Лаборатория</a></li>
      <li><a href="/prototype">Контакты</a></li>
    </ul>
  </section>
</template>
