<template name="mainMenu">
  <section class="menu-section">
    <div class="menu-section-align-wrapper">

      <a class="menu-to-home" data-index="0" href="#">
        <img src="/img/small_green_logo@2x.png" alt='B' class="menu-section-image">
      </a>

      <ul class="menu-section-list">

        <li class="menu-item">
          <a class="menu-item-link" data-index="1" href="#">
            <h3 class="menu-item-link-title">Гербарий</h3>
            <p class="menu-item-link-text">
              местоположение,
              <br>
              план поселка и коллекция домов
            </p>
          </a>
        </li>

        <li class="menu-item">
          <a class="menu-item-link" data-index="2" href="#">
            <h3 class="menu-item-link-title">Экосистема</h3>
            <p class="menu-item-link-text">инфраструктура</p>
          </a>
        </li>

        <li class="menu-item">
          <a class="menu-item-link" data-index="3" href="#">
            <h3 class="menu-item-link-title">Эволюция</h3>
            <p class="menu-item-link-text">новости</p>
          </a>
        </li>


        <li class="menu-item">
          <a class="menu-item-link" data-index="4" href="#">
            <h3 class="menu-item-link-title">Лаборатория</h3>
            <p class="menu-item-link-text">
              инвестиционно-строительная компания
              <br>
              (здесь надо указать название)
            </p>
          </a>
        </li>

        <li class="menu-item">
          <a class="menu-item-link" data-index="5" href="#">
            <h3 class="menu-item-link-title">Связь</h3>
          </a>
        </li>

      </ul>
    </div>

    <div class="social-buttons">
      <a href="#" class="social-button social-button--facebook"></a>
      <a href="#" class="social-button social-button--twitter"></a>
      <a href="#" class="social-button social-button--instagramm"></a>
      <a href="#" class="social-button social-button--youtube"></a>
    </div>

  </section>
</template>
