.placeholder-body {
  background: url('/img/grasshopper.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@font-face {
	font-family: 'FuturaPT';
	src: url('/font/FuturaPT-Demi.eot');
	src: url('/font/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
		url('/font/FuturaPT-Demi.woff') format('woff'),
		url('/font/FuturaPT-Demi.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

html {
  height: 100%;
}

body,
.botanika-body {
  width: 100%;
  height: 100%;
}

body.botanika-body {
  font-size: 100%/1.4em;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  color: #222;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

#main {
  cursor: grab;
}

.botanika-pages-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.botanika-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.image-slider {
  &--index{
    background: radial-gradient(transparent 0%, transparent 15%, rgba(0,0,0, 0.85)), url('/img/main_bg.jpg') center center no-repeat;
    background-size: cover;
  }

  &--contacts{
    background: radial-gradient(transparent 0%, transparent 15%, rgba(0,0,0, 0.85)), url('/img/contacts_bg.jpg') center center no-repeat;
    background-size: cover;
  }

  &--evolution{
    background: radial-gradient(transparent 0%, transparent 15%, rgba(0,0,0, 0.85)), url('/img/news_bg.jpg') center center no-repeat;
    background-size: cover;
  }
}

@animation-duration: 15s;

.loading-app {
  animation-duration: @animation-duration;
  animation-name: rotateLogo;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.botanika-logo {
  position: absolute;
  top: 11px;
  left: 15px;
  z-index: 999;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 14px;
    height: 40px;
    width: 2px;
    background: #fff;
    animation-duration: @animation-duration;
    animation-name: showStripe;
    animation-iteration-count: infinite;
    // animation-timing-function: linear;
  }

  img {
    width: 30px;
    height: 40px;
    animation-duration: @animation-duration;
    animation-name: rotateLogo;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@media all and (min-width: 40em) {
  .botanika-logo {
    top: 20px;
  }
}

@keyframes showStripe {
  0%, 16.5%, 21%, 37.5%, 54%, 58.8%, 75%, 100% {
    opacity: 0;
  }
  18.75%, 56.25% {
    opacity: 255;
  }
}

@keyframes rotateLogo {
  0% {
    transform: rotateY(0deg);
  }
  18.75% {
    transform: rotateY(90deg);
  }
  37.5% {
    transform: rotateY(180deg);
  }
  56.25% {
    transform: rotateY(270deg);
  }
  75%, 100% {
    transform: rotateY(360deg);
  }
}
