.placeholder-body {
  background: url('/img/grasshopper.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

html,
body {
  font: 100%/1.4em;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  color: #222;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

pre {
  margin: 0;
  font-size: 14px;
}

body,
.main-panel {
  background-color: #fff;
  position: relative;
}

.menu {
  background-color: #1D1F20;
  background-image: linear-gradient(145deg, #1D1F20, #404348);
}

.menu a {
  color: #fff;
}

.menu a:hover {
  text-decoration: underline;
}

.menu-header {
  border-bottom: 1px solid #2a2d2f;
  padding: 20px 0 20px 60px;
  background-size: 32px;
}

.menu-header-title {
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
}

.menu-section {
  margin: 25px 0;
}

.menu-section-title {
  text-transform: uppercase;
  color: #85888d;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0 20px;
  margin:0;
}

.menu-section-list {
  padding:0;
  margin: 10px 0;
  list-style:none;
}

.menu-section-list a {
  display: block;
  padding: 10px 20px;
}

.menu-section-list a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.main-panel {
  min-height: 100%;
  height: 100%;
}

/**
 * Action buttons
 */
.btn {
  text-decoration: none;
  padding: 0px 14px;
  border-radius: 4px;
  line-height: 50px;
  display: inline-block;
  border: 1px solid #4B5;
  width: 35%;
  font-size: 1.2em;
}

/**
 * hamburger
 */
.btn-hamburger {
  border: none;
  position: absolute;
  top: 12px;
  right: 5px;
  outline: none;
  display: inline-block;
  font-size: 0px;
  z-index: 9999;
  padding: 10px 35px 16px 0px;
  background: transparent;
  box-sizing: initial;
  border: 5px solid transparent;
}

/**
 * Medium Screens
 */
@media all and (min-width:40em) {
  .btn-hamburger {
    top: 30px;
    right: 10px;
  }
}



.btn-hamburger span,
.btn-hamburger span:before,
.btn-hamburger span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #fff;
  position: absolute;
  display: block;
  content: '';
}
.btn-hamburger span:before {
  top: -10px;
}
.btn-hamburger span:after {
  bottom: -10px;
}

.btn-hamburger span,
.btn-hamburger span:before,
.btn-hamburger span:after {
  transition: all 500ms ease-in-out;
}

.slideout-open {
  .btn-hamburger span {
    background-color: transparent;
  }

  .btn-hamburger span:before {
    top: 0;
    transform: rotate(45deg);
  }
  .btn-hamburger span:after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  .btn-hamburger span:before,
  .btn-hamburger span:after {
    transition-delay: 0s, 0.3s;
  }
}

.menu,
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.main-panel,
.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.image-1 {
  background: url('/img/main_bg.jpg') center center no-repeat;
  background-size: cover;
}

.image-3 {
  background: url('http://c1.staticflickr.com/5/4112/4966989323_54b6d15c06_b.jpg') center center no-repeat;
  background-size: cover;
}

.image-4 {
  background: url('http://c1.staticflickr.com/5/4035/4400808881_c723e0d34a_z.jpg?zz=1') center center no-repeat;
  background-size: cover;
}
