.botanika-contacts-holder {
	list-style: none;
	margin: 0;
	padding: 0;
    width: 100%;
    position: absolute;
    left: 0px;
	bottom: 0px;
}

.botanika-contact-item {
	margin: 0px 0px 30px 0;
	color: #fff;
	font-size: 22px;
	line-height: 26px;
}

.botanika-contact-item--image {
	display: block;
	margin: 0 auto 10px auto;
	width: 57px;
	height: 62px;
	background: url('/img/contact_pics.png');
}

.botanika-contact-item--image__adress {
	background-position: 0px -66px;
	height: 82px;
}

.botanika-contact-item--image__mail {
    background-position: 0px -149px;
    height: 42px;
}